.formpagar{
    width: 80%;
    margin-left: 10%;
    padding: 0 0 30px 0;

    &__datos {
        color: #494F66;
        font-weight: 300;
        font-size: 18px;
    }

    &__normal, &__medio{
        border-radius: 5px;
        padding: 30px 20px 10px 20px;
        width: 100%;
        outline: none;
        border: 1px solid #D4D5E8;
        box-sizing: border-box;
        color: #494F66;
        margin: 0;
        font-size: 16px;
        font-family: 'Lato';
    }

    &__medio {
        width: 50%;
    }
    &__label{
        position: absolute;
        left: 8%;
        transition: .5s;
        padding: 20px;
        color:  #A9B1D1;
        font-family: 'Roboto';
        pointer-events: none;
        font-size: 16px;
    }

    
    &__label--cvv{
        position: absolute;
        left: 47%;
        transition: .5s;
        padding: 20px;
        color:  #A9B1D1;;
        pointer-events: none;
    }
    
    &__normal:focus ~ &__label,
    &__normal:valid ~ &__label{ 
        padding: 8px 0 0 20px;
        font-size: 12px;
    }

    &__medio:focus ~ &__label,
    &__medio:valid ~ &__label{ 
        padding: 8px 0 0 20px;
        font-size: 12px;
    }

    &__medio:focus ~ &__label--cvv,
    &__medio:valid ~ &__label--cvv{ 
        padding: 8px 0 0 20px;
        font-size: 12px;
    }
}

@media (min-width : 768px ){
    .formpagar {

        &__label{
            left: 53%;
        }

        &__label--cvv{
            left: 67%;
        }
    }
}
    