.input{
    color: #A9B1D1;
    font-weight: 300;
    font-size: 12px;
    margin: 10px 0;
    line-height: 20px;
    text-transform: capitalize;

    &__p {
        cursor: pointer;
        display: flex;
        font-family: 'Roboto';
    }
    &__checkbox {
        display: none;
    }
    
    &__p:before {
        content: "";
        width: 30px;
        display: inline-block;
        height: 15px;
        color: white;
        border-radius: 5px;
        border: 1px solid #92D66F;
        box-sizing: border-box;
        padding: 0 0 20px 7px;
        margin: 5px 15px 15px 0;
    }
    &__checkbox[type=checkbox]:checked + &__p:before{
        background-color:#92D66F;
        content: "✓";
    }
}

.radio{
    margin: 10px 0;
    padding: 10px 0;
    text-transform: capitalize;

    &__p {
        cursor: pointer;
        display: flex;
        font-size: 14px;
        color: #D4D5E8;
    }
    &__checkbox {
        display: none;
    }
    
    &__p:before {
        content: "";
        width: 23px;
        display: inline-block;
        height: 18px;
        color: white;
        border-radius: 20px;
        border: 1px solid #D4D5E8;
        box-sizing: border-box;
        padding: 0 0 20px 7px;
        margin: 0 15px 15px 0;
    }
    &__checkbox[type="radio"]:checked + &__p:before {
        content: "";
        background-color: #92D66F;
        border: 1px solid #92D66F;
    }
    &__checkbox[type="radio"]:checked + &__p {
        color: black;
    }
}


.inputsubmit {
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.8px;
    margin: 10px 0;
    color: white;
    background-color: #EF3340;
    text-transform: capitalize;

    &__arrow{
        color: white;
        float: right;
    }
}
.inputsubmit:disabled {
    background-color: #EDEFF5;
    color: #D4D5E8;
}

.inputfloat{
    box-sizing: border-box;
    align-content: center;
    color: #A9B1D1;
    font-size: 16px;
    margin: 15px 0;

    &__input{
        border-radius: 5px;
        padding: 30px 20px 10px 20px;
        width: 100%;
        outline: none;
        border: 1px solid #D4D5E8;
        box-sizing: border-box;
        color: #494F66;
        margin: 0;
    }

    &__input:disabled {
        background-color: #F7F7FA;
    }

    &__label{
        position: absolute;
        left: 10%;
        transition: .5s;
        padding: 20px;
        pointer-events: none;
    }
    
    &__input:focus ~ &__label,
    &__input:valid ~ &__label{ 
        padding: 8px 0 0 20px;
        font-size: 12px;
    }
}
