.input{
    box-sizing: border-box;
    align-content: center;
    color: #A9B1D1;
    font-size: 16px;
    margin: 15px 0;

    &__input{
        border-radius: 5px;
        padding: 30px 20px 10px 20px;
        width: 100%;
        outline: none;
        border: 1px solid #D4D5E8;
        box-sizing: border-box;
        color: #494F66;
        margin: 0;
    }

    &__label{
        position: absolute;
        left: 10%;
        transition: .5s;
        padding: 20px;
        pointer-events: none;
    }
    
    &__input:focus ~ &__label{ 
        padding: 8px 0 0 20px;
        font-size: 12px;
    }
    
}
