.footer{
    color: #A9B1D1;
    font-size: 12px;
    font-family: 'Roboto';
    letter-spacing: 0.2px;
    border-top: 1px solid #EDEFF5;
    font-weight: 300;
    padding: 20px 10%;
}
@media (min-width: 768px){
    .footer{
        display: none;
    }
}