.carousel {
    background-color: #EF3340;
    color: white;
    margin-bottom: 30px;

    &__article{
        width: 70%;
        padding: 30px;
        box-sizing: border-box;
        float: left;
        &--h1{
            font-size: 25px;
            margin: 0;
        }
        &--p{
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
        }

        &--title{
            margin-top: 40px;
            font-size: 11px;
            font-weight: 300;
            letter-spacing: 0.6px;
        }

        &--pages{
            font-size: 13px;
            margin-bottom: 40px;
            font-weight: 300;
        }

        &--weigth{
            font-weight: 1;
        }
    }

    &__aside{
        width: 30%;
        box-sizing: border-box;
        display: inline-block;

        &--img{
            float: right;
            width: 100%;
            margin-top: 10px;
        }
    }
}

.icon{
    margin: 0 5px 0 0;
    font-size: 15px;
}