.hola{
    background-color: #FAFAFC;
    padding: 10px 0 40px 31px;
    color: #494F66;
    font-weight: 300;
    box-sizing: border-box;

    &__saludo{
        font-size: 32px;
        margin: 0;
        &--nombre{
            color: #EF3340;
            text-transform: capitalize;
        }
    }

    &__mensaje{
        font-size: 18px;
        font-family: 'Roboto';
    }
}