.planes{
    width: 80%;
    margin-left: 10%;
    padding: 20px 0;

    &__input{
        display: none;
    }

    &__input[type='radio']:checked + &__box{
        border: 1px solid #92D66F;
    }

    &__box {
        display: inline-block;
        border: 1px solid #EDEFF5;
        border-radius: 12px;
        padding: 10px;
        margin-right: 4%;
        width: 46%;
        box-sizing: border-box;

        &--check {
            border: 1px solid #EDEFF5;;
            padding: 2px 5px;
            float: right;
            border-radius: 50%;
            color: white;
            margin: 0;
            font-size: 10px;
        }

        &--monto {
            color: #939DFF;
            font-size: 10px;
            font-weight: bold;
            letter-spacing: 0.6px;
        }

        &--simbolo {
            font-size: 14px;
            margin: 0 0 10px 0;
            vertical-align: super;
        }
        &--cada {
            font-size: 10px;
        }

        &--moneda {
            font-size: 24px;
        }

        &--info {
            color: #676F8F;
            font-size: 12px;
            font-family: 'Roboto';
            font-weight: 300;
        }
    }

    &__pagar {
        width: 100%;
        padding: 20px 0 30px;
        border-bottom: 1px solid #EDEFF5;

        &--total {
            font-size: 12px;
            color: #494766;
            margin-bottom: 0;
        }

        &--asegurados {
            font-size: 14px;
            font-weight: 300;
            font-family: 'Roboto';
            color: #676F8F;
            display: inline-block;
            margin: 0;
        }

        &--detalle {
            color: #939DFF;
            font-weight: normal;
        }

        &--cash {
           margin: 0 0 0 70px; 
           display: inline-block;
           font-size: 30px;
           font-weight: 300;

            &--simbolo {
                font-size: 16px;
            }
        }
    }

    &__icon{
        color: #92D66F;
        font-size: 12px;
    }

    &__felicidad {
        font-size: 16px;
        font-family: 'Roboto';
        font-weight: 300;
        color: #676f8f;
        line-height: 24px;
        display: inline-block;
        margin-left: 10px;
    }

    &__descuento {

        &--button {
            background-color:#EF3340; 
            border: none;
            padding: 14px 18px;
            color: white;
            border-radius: 6px;
            display: inline;
        }
    }
}


